Importación de Dataset 'Unemployment' para combinarlo con nuestro dataset original de Global Economy Indicators
============================

# 1. Carga de datos

## Importamos Librerías

In [1]:
# Instalamos las librerías necesarias para el proyecto que encontraremos en el archivo requirements.txt
%pip install -q -r requirements.txt
import pandas as pd

ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'

Note: you may need to restart the kernel to use updated packages.

Importamos un dataset del [World Bank:](https://liveprod.worldbank.org/en/indicator/sl-uem-zs#data-table-section) para encontrar la tasa de desempleo y poderla añadir a nuetro dataset original de Global Economy Indicators. Hemos descomprimido el archivo .zip que se descarga al darle al botón "csv" y hemos guardado el archivo Unemployment.csv en este notebook

## Leemos los datos

In [11]:
df1 = pd.read_csv(r'C:\Users\Usuario\Documents\GitHub\Final-Project\Data\Unemployment.csv')

In [12]:
df1

,Indicator Name,Indicator Code,Country Name,Country Code,Year,Value,Disaggregation
0,"Unemployment, female (% of female labor force)...",SL.UEM.TOTL.FE.ZS,Africa Eastern and Southern,AFE,2023,8.557,"female, Modeled, 15+"
1,"Unemployment, female (% of female labor force)...",SL.UEM.TOTL.FE.ZS,Africa Eastern and Southern,AFE,2022,8.577,"female, Modeled, 15+"
2,"Unemployment, female (% of female labor force)...",SL.UEM.TOTL.FE.ZS,Africa Eastern and Southern,AFE,2021,9.082,"female, Modeled, 15+"
3,"Unemployment, female (% of female labor force)...",SL.UEM.TOTL.FE.ZS,Africa Eastern and Southern,AFE,2020,8.552,"female, Modeled, 15+"
4,"Unemployment, female (% of female labor force)...",SL.UEM.TOTL.FE.ZS,Africa Eastern and Southern,AFE,2019,8.005,"female, Modeled, 15+"
...,...,...,...,...,...,...,...
72889,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.NE.ZS,Zimbabwe,ZWE,2014,6.831,"total, National, 15-24"
72890,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.NE.ZS,Zimbabwe,ZWE,2011,8.733,"total, National, 15-24"
72891,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.NE.ZS,Zimbabwe,ZWE,2004,7.610,"total, National, 15-24"
72892,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.NE.ZS,Zimbabwe,ZWE,1999,14.030,"total, National, 15-24"
72893,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.NE.ZS,Zimbabwe,ZWE,1997,16.530,"total, National, 15-24"

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72894 entries, 0 to 72893
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Indicator Name  72894 non-null  object
 1   Indicator Code  72894 non-null  object
 2   Country Name    72894 non-null  object
 3   Country Code    72894 non-null  object
 4   Year            72894 non-null  int64
 5   Value           72894 non-null  float64
 6   Disaggregation  72894 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 3.9+ MB

In [14]:
df1['Indicator Name'].unique()

array(['Unemployment, female (% of female labor force) (modeled ILO estimate)',
       'Unemployment, female (% of female labor force) (national estimate)',
       'Unemployment, male (% of male labor force) (modeled ILO estimate)',
       'Unemployment, male (% of male labor force) (national estimate)',
       'Unemployment, total (% of total labor force) (modeled ILO estimate)',
       'Unemployment, total (% of total labor force) (national estimate)',
       'Unemployment, youth female (% of female labor force ages 15-24) (modeled ILO estimate)',
       'Unemployment, youth female (% of female labor force ages 15-24) (national estimate)',
       'Unemployment, youth male (% of male labor force ages 15-24) (modeled ILO estimate)',
       'Unemployment, youth male (% of male labor force ages 15-24) (national estimate)',
       'Unemployment, youth total (% of total labor force ages 15-24) (modeled ILO estimate)',
       'Unemployment, youth total (% of total labor force ages 15-24) (national estimate)'],
      dtype=object)

# 2. Procesamiento de datos

Nos quedamos con los valores únicos de desemepleo que nos interesan

In [15]:
df_filtrado = df1[df1['Indicator Name'] == 'Unemployment, total (% of total labor force) (modeled ILO estimate)']

Hacemos filtros y dropeamos columnas para quedarnos con los datos que nos interesan

In [16]:
df_filtrado = df_filtrado.drop(columns=['Indicator Code', 'Country Code', 'Disaggregation', 'Indicator Name'])
df_filtrado = df_filtrado.rename(columns={'Value': 'Unemployment', 'Country Name': 'Country', 'Year': 'Year_Unemployment'})
df_filtrado

                           Country  Year_Unemployment  Unemployment
25219  Africa Eastern and Southern               2023         7.740
25220  Africa Eastern and Southern               2022         7.748
25221  Africa Eastern and Southern               2021         8.304
25222  Africa Eastern and Southern               2020         7.910
25223  Africa Eastern and Southern               2019         7.427
...                            ...                ...           ...
32966                     Zimbabwe               1995         5.557
32967                     Zimbabwe               1994         4.960
32968                     Zimbabwe               1993         5.007
32969                     Zimbabwe               1992         4.929
32970                     Zimbabwe               1991         4.750

[7752 rows x 3 columns]

Dropeamos las filas que no pertenecen a países concretos sino a Regiones geográficas

In [17]:
df_filtrado = df_filtrado.iloc[1584:].reset_index(drop=True)

Guardamos el archivo limpiado para futuro merge con el de GEI

In [22]:
df_filtrado.to_csv(r'C:\Users\Usuario\Documents\GitHub\Final-Project\Data\Unemployment_filtered.csv', index=False)